@{
    ViewData["Title"] = "About Us";
}
<!DOCTYPE html>
<html>
<head>
    <title>Gurpreet Frame Agency</title>
</head>
<body>
    <h1>Welcome to Gurpreet Frame Agency</h1>
    <p>
        At Gurpreet Frame Agency, we offer a wide range of frames to suit different styles and budgets. We understand the importance of finding frames at affordable prices without compromising on quality. Whether you're looking for classic wooden frames, sleek metal frames, or trendy acrylic frames, we've got you covered. Our goal is to provide customers with high-quality frames at prices that won't break the bank. Visit our website to explore our selection and find the perfect frames for your needs. Happy framing!
    </p>
   
</body>
</html>
