@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Index.css" />
<style>
    h2 {
        text-align: center;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Hey &#128521</h1>
    <h2 style="font-family:'Courier New'">Welcome to the Frames Agency</h2>
    
</div>
<div class="imagecss">
    <div class="image">
        <img src="~/img/classsic.jpg" alt="Image 1">
        <div style="color:#6fb3b8"class="centered"><h1>Classic Black</h1></div>
    </div>

    <div class="image">
        <img src="~/img/edgy.jpg" alt="Image 2">
        <div style="color:#6fb3b8"class="centered"><h1>Edgy Geometric</h1></div>
    </div>

    <div class="image">
        <img src="~/img/gold.jpg" alt="Image 3">
        <div style="color:#6fb3b8"class="centered"><h1>Vintage Gold</h1></div>
    </div>

    <div class="image">
        <img src="~/img/sleek.jpg" alt="Image 4">
        <div style="color:#6fb3b8"class="centered"><h1>Sleek Silver</h1></div>
    </div>
</div>